/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
  height: 700px;
  background: url("../images/header_bg.jpg") no-repeat center top;
  background-size: cover;
  font-size: 24px;
  text-align: center;
}
.relaxr{
	text-align: left;
	padding-top: 60px;
	padding-left: 150px;
	color: white;
	font-size: 34px;
	font-weight: bolder;
}
.get{
	color: white;
	font-size: 34px;
	padding-top: 100px;
	padding-bottom: 80px;
	font-weight: normal;
}
button{
	color: #033048;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding-top: 40px;
	padding: 20px 40px;
	background-color: #f9e42e
}
.benefit{
	width: 750px;
	font-size: 34px;
  	color: #606161;
  	padding-top: 20px;
  	padding-left: 120px;
 }

h3 {
	color: #033048;
	font-size: 34px;
	padding-top: 80px;
	padding-left: 120px;
	font-weight: bolder;
}

.list{
    width: 800px;
	padding-top: 80px;
	padding-left: 120px;
	padding-bottom: 80px;
	font-weight: lighter;
}
.bottom{
	background-image: url(../images/testimonial_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	font-style: italic;
	background-color: red;
	background-position: center;
    color: white;
	text-decoration-color: #606161;
	font-size: 38px;
    font-weight: 400;
	text-align: center;
	height: 300px;
	padding-top: 80px;
	color: #606161
}

.bottom p {
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.amanda{
	color: white;
}

.button1{

	text-align: center;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	padding: 15px 36px;
	background-color: #f9e42e;
	height: 70px;
}
.btn{
	background-color: #033048;
	color: white;
}

footer{
	height: 300px;
	padding-top: 50px;
	text-align: center;
	background-color: #121212;
}
.laxr{
	color: #f9e42e;
	font-size: 44px;
	font-weight: bolder;
	padding-bottom: 20px;
}
.media{
	word-spacing: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.end{
	font-size: 18px;
	color: white;
	padding-top: 60px;
}
